<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/cartpage.css}">
</head>
<body>
<!-- Хедер -->
<header>
    <div class="header-content">
        <h1>Корзина</h1>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/orders}">Мои заказы</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Список продуктов в таблице -->
<main>
    <div class="cart-table-container">
        <table class="cart-table">
            <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cartItems}">
                <td>
                    <img th:src="${item.cartItemProduct.base64Image}" alt="Product Image" class="product-image">
                </td>
                <td th:text="${item.cartItemProduct.productName}">Название продукта</td>
                <td th:text="${item.cartItemProduct.productPriceCent} + ' ₽'">Цена</td>
                <td th:text="${item.cartItemQuantity}">Количество</td>
                <td th:text="${item.cartItemProduct.productPriceCent * item.cartItemQuantity} + ' ₽'">Итого</td>
                <td>
                    <form th:action="@{/cart/remove}" method="post">
                        <!-- Передаем ID товара скрытым полем -->
                        <input type="hidden" name="itemId" th:value="${item.id}" />
                        <button type="submit" class="remove-button">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</main>

<!-- Футер с общей суммой и кнопкой -->
<footer>
    <div class="footer-content">
        <div class="total-sum">
            Общая сумма: <span th:text="${totalSum} + ' ₽'">0 ₽</span>
        </div>
        <button th:onclick="'window.location.href=\'/checkout\''">Оформить заказ</button>
    </div>
</footer>
</body>
</html>
