<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="css/mainpagee.css">
</head>
<body>
<header>
    <div class="logo">Logo</div>
    <nav>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>

<main class="container" id="product-container">
    <div class="product-box" th:each="product : ${products}">
        <div class="product-image">
            <img src="https://via.placeholder.com/300x200" alt="Product Image">
        </div>
        <div class="product-info">
            <p class="product-name" th:text="${product.productName}">Product Name</p>
            <div class="product-price-cart">
                <p class="product-price" th:text="${product.productPriceCent}">Product Price</p>
                <div sec:authorize="isAuthenticated()">
                    <a href="#" class="add-to-cart">
                        <img src="img/icons8-тележка-из-магазина-64.png" alt="Add to Cart">
                    </a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <p>Please <a href="/login">login</a> to add to cart.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <button id="load-more" data-page="1" data-size="12">Load More</button>
</footer>

<script src="js/mainpagejs.js"></script>
</body>
</html>