<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="css/mainpagee.css">
</head>
<body th:with="currentUser=${#authentication.principal}">
<header>
    <div class="logo">Logo</div>
    <nav>
        <ul>
            <li sec:authorize="isAuthenticated()"><a href="/cart">CArt</a></li>
            <li><a href="#">Link 2</a></li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                    <input type="hidden"/>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</header>

<script th:inline="javascript">
    const currentUserId =[[${#authentication.principal}]];
</script>
<main class="container" id="product-container">
    <div class="product-box" th:each="product : ${products}">
        <div class="product-image">
            <img th:src="${product.base64Image}" alt="Product Image">
        </div>
        <div class="product-info">
            <p class="product-name" th:text="${product.productName}">Product Name</p>
            <p class="product-quantity">Кол-во: <span th:text="${product.productQuantity}">0</span></p>
            <div class="product-price-cart">
                <p class="product-price">Цена: <span th:text="${product.productPriceCent}">0.00</span></p>
                <div class="quantity-and-cart">
                    <input id="quantity-${product.id}" type="number" min="1" value="1" class="quantity-picker">
                    <a href="#" class="add-to-cart"
                       th:data-product-id="${product.id}"
                       th:data-product-price="${product.productPriceCent}">
                        <img src="img/icons8-тележка-из-магазина-64.png" alt="Add to Cart">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <button id="load-more" data-page="1" data-size="12">Load More</button>
</footer>

<script src="js/mainpagejs.js"></script>
</body>
</html>
